source https://nuget.org/api/v2
source https://www.myget.org/F/imazen-nightlies

nuget Appfail.WebForms
nuget ImageResizer.Mvc 4.0.0-prerelease0907
nuget ImageResizer.MvcWebConfig 4.0.0-prerelease0907
nuget ImageResizer 4.0.0-prerelease0907
nuget ImageResizer.Plugins.AdvancedFilters 4.0.0-prerelease0907
nuget ImageResizer.Plugins.AnimatedGifs 4.0.0-prerelease0907
nuget ImageResizer.Plugins.AzureReader2 4.0.0-prerelease0907
nuget ImageResizer.Plugins.BatchZipper 4.0.0-prerelease0907
nuget ImageResizer.Plugins.CloudFront 4.0.0-prerelease0907
nuget ImageResizer.Plugins.CopyMetadata 4.0.0-prerelease0907
nuget ImageResizer.Plugins.DiagnosticJson 4.0.0-prerelease0907
nuget ImageResizer.Plugins.DiskCache 4.0.0-prerelease0907
nuget ImageResizer.Plugins.Faces 4.0.0-prerelease0907
nuget ImageResizer.Plugins.FastScaling.x86 4.0.0-prerelease0907
nuget ImageResizer.Plugins.FFmpeg 4.0.0-prerelease0907
nuget ImageResizer.Plugins.FreeImage 4.0.0-prerelease0907
nuget ImageResizer.Plugins.Logging 4.0.0-prerelease0907
nuget ImageResizer.Plugins.MongoReader 4.0.0-prerelease0907
nuget ImageResizer.Plugins.PdfiumRenderer 4.0.0-prerelease0907
nuget ImageResizer.Plugins.PdfRenderer 4.0.0-prerelease0907
nuget ImageResizer.Plugins.PrettyGifs 4.0.0-prerelease0907
nuget ImageResizer.Plugins.PsdComposer 4.0.0-prerelease0907
nuget ImageResizer.Plugins.PsdReader 4.0.0-prerelease0907
nuget ImageResizer.Plugins.RedEye 4.0.0-prerelease0907
nuget ImageResizer.Plugins.RemoteReader 4.0.0-prerelease0907
nuget ImageResizer.Plugins.S3Reader2 4.0.0-prerelease0907
nuget ImageResizer.Plugins.SeamCarving 4.0.0-prerelease0907
nuget ImageResizer.Plugins.SimpleFilters 4.0.0-prerelease0907
nuget ImageResizer.Plugins.SqlReader 4.0.0-prerelease0907
nuget ImageResizer.Plugins.TinyCache 4.0.0-prerelease0907
nuget ImageResizer.Plugins.Watermark 4.0.0-prerelease0907
nuget ImageResizer.Plugins.WebP 4.0.0-prerelease0907
nuget ImageResizer.Plugins.WhitespaceTrimmer 4.0.0-prerelease0907
nuget ImageResizer.Plugins.Wic 4.0.0-prerelease0907
nuget ImageResizer.Storage 4.0.0-prerelease0907
nuget ImageResizer.WebConfig 4.0.0-prerelease0907
nuget ImageResizer.WebConfigAsync 4.0.0-prerelease0907
nuget Imazen.WebP 4.0.0-prerelease0907
