source https://nuget.org/api/v2
source https://www.myget.org/F/imazen-nightlies

nuget Appfail.WebForms
nuget ImageResizer.Mvc 4.2.4-pre
nuget ImageResizer.MvcWebConfig 4.2.4-pre
nuget ImageResizer 4.2.4-pre
nuget ImageResizer.Plugins.AdvancedFilters 4.2.4-pre
nuget ImageResizer.Plugins.AnimatedGifs 4.2.4-pre
nuget ImageResizer.Plugins.AzureReader2 4.2.4-pre
nuget ImageResizer.Plugins.BatchZipper 4.2.4-pre
nuget ImageResizer.Plugins.CloudFront 4.2.4-pre
nuget ImageResizer.Plugins.CopyMetadata 4.2.4-pre
nuget ImageResizer.Plugins.DiagnosticJson 4.2.4-pre
nuget ImageResizer.Plugins.DiskCache 4.2.4-pre
nuget ImageResizer.Plugins.Faces 4.2.4-pre
nuget ImageResizer.Plugins.FastScaling.x86 4.2.4-pre
nuget ImageResizer.Plugins.FFmpeg 4.2.4-pre
nuget ImageResizer.Plugins.FreeImage 4.2.4-pre
nuget ImageResizer.Plugins.Logging 4.2.4-pre
nuget ImageResizer.Plugins.MongoReader 4.2.4-pre
nuget ImageResizer.Plugins.PdfiumRenderer 4.2.4-pre
nuget ImageResizer.Plugins.PdfRenderer 4.2.4-pre
nuget ImageResizer.Plugins.PrettyGifs 4.2.4-pre
nuget ImageResizer.Plugins.PsdComposer 4.2.4-pre
nuget ImageResizer.Plugins.PsdReader 4.2.4-pre
nuget ImageResizer.Plugins.RedEye 4.2.4-pre
nuget ImageResizer.Plugins.RemoteReader 4.2.4-pre
nuget ImageResizer.Plugins.S3Reader2 4.2.4-pre
nuget ImageResizer.Plugins.SeamCarving 4.2.4-pre
nuget ImageResizer.Plugins.SimpleFilters 4.2.4-pre
nuget ImageResizer.Plugins.SqlReader 4.2.4-pre
nuget ImageResizer.Plugins.TinyCache 4.2.4-pre
nuget ImageResizer.Plugins.Watermark 4.2.4-pre
nuget ImageResizer.Plugins.WebP 4.2.4-pre
nuget ImageResizer.Plugins.WhitespaceTrimmer 4.2.4-pre
nuget ImageResizer.Plugins.Wic 4.2.4-pre
nuget ImageResizer.Storage 4.2.4-pre
nuget ImageResizer.WebConfig 4.2.4-pre
nuget ImageResizer.WebConfigAsync 4.2.4-pre
