<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="resizer" type="ImageResizer.ResizerSection" />
    <section name="appfail" type="AppfailReporting.AppfailConfiguration, AppfailReporting" />
  </configSections>
  <resizer>
    <plugins>
      <add name="DiskCache" />
      <add name="SourceDiskCache" />
      <add name="PrettyGifs" />
      <add name="AnimatedGifs" />
      <add name="Gradient" />
      <add name="AutoRotate" />
      <add name="SimpleFilters" />
      <add name="AdvancedFilters" />
      <add name="WhitespaceTrimmer" />
      <add name="FreeImageDecoder" downloadNativeDependencies="true" />
      <add name="FreeImageResizer" />
      <add name="FreeImageBuilder" />
      <add name="FreeImageBuilder" />
      <add name="PdfRenderer" downloadNativeDependencies="true" />
      <add name="RedEye" downloadNativeDependencies="true" />
      <add name="Faces" downloadNativeDependencies="true" />
      <add name="CropAround" />
      <add name="CloudFront" />
      <add name="WicBuilder" />
      <add name="RemoteReader" />
      <add name="S3Reader" useSubdomains="true" useSsl="false" buckets="resizer-images,resizer-web,resizer,njcom,resizer-downloads" />
      <add name="SeamCarving" />
      <add name="SourceMemCache" />
      <add name="Watermark" />
      <add name="WebPEncoder" downloadNativeDependencies="true"  />
    </plugins>
    <clientcache minutes="10080" />
    <remotereader>
      <allow domain="filepicker.io" />
      <allow domain="*.filepicker.io" />
      <allow domain="imageresizing.net" />
      <allow domain="*.imageresizing.net" />
    </remotereader>
    <watermarks>
      <image name="bg" drawAs="background" path="~/gradient.png" imageQuery="angle=90;color2=00aec4" width="100%" height="100%"  />
      <image name="logo" path="~/imazen_400.png" align="bottomright" width="50%" height="25%" bottom="10px" right="10px"/>
      <text name="fill-text1" fill="true" text="#{text}"/>
    </watermarks>
  </resizer>

  <appfail apiToken="tr83PpkP4KpJDGpd5mFQ" />
  <system.web>
    <customErrors mode="Off" />
    <compilation debug="true" targetFramework="4.0" />
    <httpModules>

      <add name="appfail" type="AppfailReporting.AppfailModule, AppfailReporting" />
      <add name="ImageResizingModule" type="ImageResizer.InterceptModule" />
    </httpModules>
    <pages>
      <namespaces>
        <add namespace="AppfailReporting" />
      </namespaces>
    </pages>
  </system.web>
  <system.webServer>
    <httpErrors errorMode="Detailed" />
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true">
      <add name="appfail" type="AppfailReporting.AppfailModule, AppfailReporting" />
      <add name="ImageResizingModule" type="ImageResizer.InterceptModule" />
    </modules>
  </system.webServer>
</configuration>