<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="resizer" type="ImageResizer.ResizerSection" />
    <section name="appfail" type="AppfailReporting.AppfailConfiguration, AppfailReporting" />
  </configSections>
  <resizer>
    <plugins>
      <add name="DiskCache" />
      <add name="SourceDiskCache" />
      <add name="PrettyGifs" />
      <add name="AnimatedGifs" />
      <add name="Gradient" />
      <add name="AutoRotate" />
      <add name="SimpleFilters" />
      <add name="AdvancedFilters" />
      <add name="WhitespaceTrimmer" />
      <add name="FreeImageDecoder" downloadNativeDependencies="true" />
      <add name="FreeImageResizer" />
      <add name="FreeImageBuilder" />
      <add name="PdfRenderer" downloadNativeDependencies="true" />
      <add name="RedEye" downloadNativeDependencies="true" />
      <add name="Faces" downloadNativeDependencies="true" />
      <add name="CropAround" />
      <add name="CloudFront" />
      <add name="WicBuilder" />
      <add name="RemoteReader" />
      <add name="S3Reader2" vpp="true" useSsl="false" buckets="resizer-images,resizer-web,resizer,njcom,resizer-downloads" cacheUnmodifiedFiles="true" checkForModifiedFiles="false" untrustedData="false" />

      <add name="SeamCarving" />
      <add name="SourceMemCache" />
      <add name="FastScaling" />
      <add name="Watermark" />
      <add name="WebPEncoder" downloadNativeDependencies="true" />
    </plugins>
    <clientcache minutes="10080" />
    <remotereader>
      <allow domain="filepicker.io" />
      <allow domain="*.filepicker.io" />
      <allow domain="imageresizing.net" />
      <allow domain="*.imageresizing.net" />
    </remotereader>
    <watermarks>
      <image name="bg" drawAs="background" path="~/gradient.png" imageQuery="angle=90;color2=00aec4" width="100%" height="100%" />
      <image name="logo" path="~/imazen_400.png" align="bottomright" width="50%" height="25%" bottom="10px" right="10px" />
      <text name="fill-text1" fill="true" text="#{text}" />
    </watermarks>
  </resizer>
  <appfail apiToken="tr83PpkP4KpJDGpd5mFQ" />
  <system.web>
    <customErrors mode="Off" />
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <httpModules>
      <add name="appfail" type="AppfailReporting.AppfailModule, AppfailReporting" />
      <add name="ImageResizingModule" type="ImageResizer.InterceptModule" />
    </httpModules>
    <pages>
      <namespaces>
        <add namespace="AppfailReporting" />
      </namespaces>
    </pages>
  </system.web>
  <system.webServer>
    <httpErrors errorMode="Detailed" />
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true">
      <add name="appfail" type="AppfailReporting.AppfailModule, AppfailReporting" />
      <add name="ImageResizingModule" type="ImageResizer.InterceptModule" />
    </modules>
    <handlers>
      <add name="AspNetStaticFileHandler" path="*" verb="*" type="System.Web.StaticFileHandler" />
    </handlers>
    <staticContent>
      <mimeMap fileExtension=".webp" mimeType="image/webp" />
    </staticContent>
  </system.webServer>
  <runtime>
    
  <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
  <dependentAssembly>
    <assemblyIdentity name="AForge.Imaging" publicKeyToken="ba8ddea9676ca48b" culture="neutral" />
    <bindingRedirect oldVersion="0.0.0.0-2.2.5.0" newVersion="2.2.5.0" />
  </dependentAssembly>
  <dependentAssembly>
    <assemblyIdentity name="AForge.Math" publicKeyToken="abba2e25397ee8c9" culture="neutral" />
    <bindingRedirect oldVersion="0.0.0.0-2.2.5.0" newVersion="2.2.5.0" />
  </dependentAssembly>
  <dependentAssembly>
    <assemblyIdentity name="AForge" publicKeyToken="c1db6ff4eaa06aeb" culture="neutral" />
    <bindingRedirect oldVersion="0.0.0.0-2.2.5.0" newVersion="2.2.5.0" />
  </dependentAssembly>
  <dependentAssembly>
    <assemblyIdentity name="AWSSDK" publicKeyToken="9f476d3089b52be3" culture="neutral" />
    <bindingRedirect oldVersion="0.0.0.0-2.3.44.0" newVersion="2.3.44.0" />
  </dependentAssembly>
  <dependentAssembly>
    <assemblyIdentity name="System.IO" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
    <bindingRedirect oldVersion="0.0.0.0-2.6.10.0" newVersion="2.6.10.0" />
  </dependentAssembly>
  <dependentAssembly>
    <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
    <bindingRedirect oldVersion="0.0.0.0-2.6.10.0" newVersion="2.6.10.0" />
  </dependentAssembly>
  <dependentAssembly>
    <assemblyIdentity name="System.Threading.Tasks" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
    <bindingRedirect oldVersion="0.0.0.0-2.6.10.0" newVersion="2.6.10.0" />
  </dependentAssembly>
  <dependentAssembly>
    <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
    <bindingRedirect oldVersion="0.0.0.0-5.6.4.0" newVersion="5.6.4.0" />
  </dependentAssembly>
  <dependentAssembly>
    <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
    <bindingRedirect oldVersion="0.0.0.0-5.6.4.0" newVersion="5.6.4.0" />
  </dependentAssembly>
  <dependentAssembly>
    <assemblyIdentity name="Microsoft.Data.Services.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
    <bindingRedirect oldVersion="0.0.0.0-5.6.4.0" newVersion="5.6.4.0" />
  </dependentAssembly>
  <dependentAssembly>
    <assemblyIdentity name="System.Net.Http.Extensions" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
    <bindingRedirect oldVersion="0.0.0.0-1.5.0.0" newVersion="1.5.0.0" />
  </dependentAssembly>
  <dependentAssembly>
    <assemblyIdentity name="System.Net.Http.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
    <bindingRedirect oldVersion="0.0.0.0-1.5.0.0" newVersion="1.5.0.0" />
  </dependentAssembly>
  <dependentAssembly>
    <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
    <bindingRedirect oldVersion="0.0.0.0-1.5.0.0" newVersion="1.5.0.0" />
  </dependentAssembly>
  <dependentAssembly>
    <assemblyIdentity name="Microsoft.WindowsAzure.Configuration" publicKeyToken="31bf3856ad364e35" culture="neutral" />
    <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
  </dependentAssembly>
  <dependentAssembly>
    <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
    <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
  </dependentAssembly>
  <dependentAssembly>
    <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
    <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
  </dependentAssembly>
  <dependentAssembly>
    <assemblyIdentity name="OpenCvSharp.Blob" publicKeyToken="6adad1e807fea099" culture="neutral" />
    <bindingRedirect oldVersion="0.0.0.0-1.0.0.0" newVersion="1.0.0.0" />
  </dependentAssembly>
  <dependentAssembly>
    <assemblyIdentity name="OpenCvSharp.CPlusPlus" publicKeyToken="6adad1e807fea099" culture="neutral" />
    <bindingRedirect oldVersion="0.0.0.0-1.0.0.0" newVersion="1.0.0.0" />
  </dependentAssembly>
  <dependentAssembly>
    <assemblyIdentity name="OpenCvSharp.UserInterface" publicKeyToken="6adad1e807fea099" culture="neutral" />
    <bindingRedirect oldVersion="0.0.0.0-1.0.0.0" newVersion="1.0.0.0" />
  </dependentAssembly>
  <dependentAssembly>
    <assemblyIdentity name="OpenCvSharp" publicKeyToken="6adad1e807fea099" culture="neutral" />
    <bindingRedirect oldVersion="0.0.0.0-1.0.0.0" newVersion="1.0.0.0" />
  </dependentAssembly>
  <dependentAssembly>
    <assemblyIdentity name="OpenCvSharp.Extensions" publicKeyToken="6adad1e807fea099" culture="neutral" />
    <bindingRedirect oldVersion="0.0.0.0-1.0.0.0" newVersion="1.0.0.0" />
  </dependentAssembly>
  <dependentAssembly>
    <assemblyIdentity name="System.Spatial" publicKeyToken="31bf3856ad364e35" culture="neutral" />
    <bindingRedirect oldVersion="0.0.0.0-5.6.4.0" newVersion="5.6.4.0" />
  </dependentAssembly>
  <dependentAssembly>
    <assemblyIdentity name="Microsoft.WindowsAzure.Storage" publicKeyToken="31bf3856ad364e35" culture="neutral" />
    <bindingRedirect oldVersion="0.0.0.0-4.3.0.0" newVersion="4.3.0.0" />
  </dependentAssembly>
  <dependentAssembly>
    <assemblyIdentity name="Ionic.Zip.Reduced" publicKeyToken="edbe51ad942a3f5c" culture="neutral" />
    <bindingRedirect oldVersion="0.0.0.0-1.9.1.8" newVersion="1.9.1.8" />
  </dependentAssembly>
  <dependentAssembly>
    <assemblyIdentity name="MongoDB.Bson" publicKeyToken="f686731cfb9cc103" culture="neutral" />
    <bindingRedirect oldVersion="0.0.0.0-1.10.0.62" newVersion="1.10.0.62" />
  </dependentAssembly>
  <dependentAssembly>
    <assemblyIdentity name="MongoDB.Driver" publicKeyToken="f686731cfb9cc103" culture="neutral" />
    <bindingRedirect oldVersion="0.0.0.0-1.10.0.62" newVersion="1.10.0.62" />
  </dependentAssembly>
</assemblyBinding></runtime>
</configuration>
